@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: rgb(15, 17, 16);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

#main {
  border: 1px solid rgba(157, 83, 226, 0.616);
  border-radius: 20px;
  margin: 0 auto;
  width: 50%;
  min-height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: rgba(255, 255, 255, 0.8); /* Slightly transparent white for better contrast */
}

button {
  background-color: rgba(157, 83, 226, 0.616);
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover and active states */
}

button:hover {
  background-color: rgba(177, 103, 246, 0.8);  /* Slightly brighter on hover */
}

button:active {
  background-color: rgba(137, 63, 206, 0.8);  /* Slightly darker on press */
}

h1 {
  margin-bottom: 30px;
  margin-top: 0;
}

p {
  margin: 10px 0;
}

#error {
  color: red;
  font-weight: bold;
}

#passwordLength {
  width: 200px;
  height: 30px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  text-align: center;
  padding: 5px; /* Adding some padding to make it more visually appealing */
}

#passwordLength::placeholder {
  color: rgba(255, 255, 255, 0.5);  /* Lighter placeholder text */
}

@media screen and (max-width: 600px) {
  #main {
    width: 70%;
  }

  
}